.caixa-de-texto {
  border: 1px solid #000000;
  background-color: #fafafa;
  margin: 10px;
  padding: 10px;
}
.alinhar{
  text-align: center;
}
main{
  margin-top: 100px;
  background-image: url('../images/madeira-bg.png');
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;;
}

.enviar-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enviar-button {
  padding: 10px 20px;
  width: auto;
  height: auto;
  background-color: #00a9fd;
  border: 1px solid black;
  border-radius: 5px;
  border-radius: 15%;
  font-size: medium;
  color: white;
}

form{
  font-size: large;
}

.container {
  display: flex;
  margin: 165px 2rem;
}

.div1, .div2 {
  flex: 1;
  width: 50%;
}

#mensagem {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.color{
  border: 1px solid #000000;
  background-color: #ebe3e3;
}