*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    margin: 2.5rem 0;
}

footer {
    border-top: 0.1rem solid darkgoldenrod;
}

body {
    margin-top: 8rem;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
}

#gabryel {
    height: 18rem;
    border-radius: 1.0rem;
    align-items: center;
    grid-area: imagem;
}

#descricao-landing {
    word-break: break-word;
    text-align: justify;
}

#img-linguagens {
    width: 30rem;
    border-radius: 1rem;
}

.flex-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: wheat;
    border-radius: 1rem;
    padding: 2rem;
    outline: 0.1rem solid darkgoldenrod;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.270);
}

.grid-container-apresentacao {
    display: grid;
    grid-template-areas:
        'titulo titulo'
        'imagem rank'
        'imagem descricao';
}

.grid-titulo {
    grid-area: titulo;
    font-family: 'Fredoka One', serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: right;
}

.grid-rank {
    grid-area: rank;
    font-family: 'Fredoka One', serif;
    font-weight: 500;
    color: darkgoldenrod;
    font-size: 1.7rem;
    text-align: right;
}

.grid-descricao {
    grid-area: descricao;
    font-family: 'Nunito', serif;
    color: gray;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: right;
    text-align: justify;
}

.grid-item-descricao {
    text-align: right;
}


.grid-container-skills {
    display: grid;
    grid-template-areas:
        'skill . . . .' 
        'html barra-html porc-html imagem imagem'
        'css barra-css porc-css imagem imagem'
        'js barra-js porc-js imagem imagem'
        'py barra-py porc-py imagem imagem';
    align-items: center;
}

.icons {
    font-size: 5.0rem;
    text-align: center;
}

.skill {
    grid-area: skill;
    font-family: 'Fredoka One', serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.fa-html5 {
    color: orangered;
    grid-area: html;
}

.fa-css3-alt {
    color: rgb(56, 195, 250);
    grid-area: css;
}

.fa-square-js {
    color: rgb(216, 189, 14);
    grid-area: js;
}

.fa-python {
    color: rgb(48, 105, 152);
    grid-area: py;
}

.container-progresso {
    width: 20rem;
    height: 3rem;
    border-radius: 0.8rem;
    background-color: rgb(201, 201, 201);
}

.barra-progresso {
    height: 3rem;
    border-radius: 0.8rem;
    background-color: darkgoldenrod;
}

.html {
    grid-area: barra-html;
}

.barra-progresso-html{
    width: 70%;
}

.css {
    grid-area: barra-css;
}

.barra-progresso-css{
    width: 50%;
}

.js {
    grid-area: barra-js;
}

.barra-progresso-js{
    width: 30%;
}

.py {
    grid-area: barra-py ;
}

.barra-progresso-py{
    width: 60%;
}

.percentuais {
    padding: 2rem;
    font-family: 'Nunito', serif;
    color: gray;
    font-size: 1.3rem;
}

.porc-html {
    grid-area: porc-html;
}

.porc-css {
    grid-area: porc-css;
}

.porc-js {
    grid-area: porc-js;
}

.porc-py {
    grid-area: porc-py;
}

.grid-img-programacao {
    width: 25rem;
    grid-area: imagem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.270);
}

@media (max-width: 1220px){
    .grid-container-skills {
        grid-template-areas:
            'skill . . .' 
            'html barra-html porc-html'
            'css barra-css porc-css'
            'js barra-js porc-js'
            'py barra-py porc-py';
        justify-content: center;
    }

    .grid-img-programacao {
        display: none;
    }

    .container-progresso {
        width: 30rem;
    }

}

@media (max-width: 920px){
    .flex-container {
        width: 85vw;
    }

    .container-progresso {
        width: 40rem;
    }

    .grid-container-apresentacao {
        grid-template-areas:
            'titulo'
            'rank'
            'imagem'
            'descricao';
        justify-items: center;
    }

    #gabryel {
        border-radius: 0rem;
    }

    .grid-titulo {
        text-align: center;
        font-size: 2.2rem;
    }

}

@media (max-width: 630px){
    .container-progresso {
        width: 20rem;
    }
}