@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

*:visited {
    color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

p, h1, h2, h3 {
    cursor: context-menu;
}

:target {
    scroll-margin-top: 12rem;
}

#nav-bar {
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10rem;
    background-color: #f5deb3;
    box-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, 0.270);
    grid-template-areas: 'imagem cardapio sobre-nos localizacao peca-aqui about-dev';
    justify-items: center;
    padding: 0;
    column-gap: 0;
}

.nav-imagem {
    grid-area: imagem;
}

.nav-cardapio {
    grid-area: cardapio;
}

.nav-sobre-nos {
    grid-area: sobre-nos;
}

.nav-localizacao {
    grid-area: localizacao;
}

.nav-peca-aqui {
    grid-area: peca-aqui;
}

.nav-about-dev {
    grid-area: about-dev;
}

#logo{
    width: 12rem;
    height: 12rem;
}

#pizza-1 {
    width: 53rem;
    height: 50rem;
}

#about {
    display: flex;
    align-items: center;
    background-color: #1c1f21;
}

#melhor-da-cidade{
    color: white;
    font-family: 'Fredoka One', serif;
    font-weight: 600;
    font-size: 4.5rem;
}

#firstScreen{
    margin-top: 10rem;
}

#apresentacao {
    background-image: url("../images/backgroundpizza.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.270);
}

#logo-central {
    margin-top: 10rem;
}

#tabela-frete {
    display: flex;
    flex-direction: column;
}

#sabores-tradicionais {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

#video {
    border-radius: 1.2em;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.270);
}

#mapa {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.270);
}

#cardapio {
    margin-top: 5rem;
}

#descricao-pizzaria {
    padding-bottom: 3.5rem;
}

#pizza-queijo {
    grid-area: pizza-1;
}

#pizza-pepperoni {
    grid-area: pizza-2;
}

#pizza-amoda {
    grid-area: pizza-3;
}

#pizza-bacon {
    grid-area: pizza-4;
}

#pizza-marguerita {
    grid-area: pizza-5;
}

#pizza-salmao {
    grid-area: pizza-6;
}

#pizza-calabresa {
    grid-area: pizza-7;
}

#pizza-portuguesa {
    grid-area: pizza-8;
}

#pizza-4queijos {
    grid-area: pizza-9;
}

#pizza-brocolis {
    grid-area: pizza-10;
}

#pizza-franpiry {
    grid-area: pizza-11;
}

#pizza-francheddar {
    grid-area: pizza-12;
}

#pizza-franbarbecue {
    grid-area: pizza-13;
}

#pizza-carnesol {
    grid-area: pizza-14;
}

#pizza-picanha{
    grid-area: pizza-15;
}

#pizza-chocolateP {
    grid-area: pizza-16;
}

#pizza-chocolateB {
    grid-area: pizza-17;
}

#pizza-dois-amores {
    grid-area: pizza-18;    
}

.firstScreen {
    font-family: 'Fredoka One', serif;
}

.lorem {
    font-family: 'Pacifico', serif;
    font-size: 2.0rem;
    text-shadow: 0.05rem 0.05rem 0.1rem wheat, 0.1rem 0.1rem 0.2rem black;
    margin-top: 3rem;
    font-weight: 500;
    text-align: center;
}

.links {
    font-family: 'Fredoka One', serif;
    display: flex;
    align-items: center;
    padding: 1.0rem;
    font-weight: 400;
}

.links a {
    color: black;
    font-size: 2.0rem;
    transition: 0.5s all;
}

.links a:link {
    text-decoration: none;
}

.links a:hover {
    font-size: 2.5rem;
    color: #f39b6a;
    text-shadow: 0.1rem 0.1rem 0.3rem #1c1f21;    
}

.icon {
    padding: 3.0rem;
}

.img-pizzas {
    width: 26rem;
    height: 26rem;
    border-radius: 100%;
    transition: 0.5s all;
}

.img-pizzas:hover {
    cursor: zoom-in;
}

.descricao-sabor {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', serif; /*Fonte não está sendo renderizada devido ao * no início do css*/
    align-items: center;
    padding: 3.0rem;
    text-align: center;
    font-size: 1.5rem;
}

.alinhamento-pizzas {
    display: flex;
    padding-top: 1.5rem;
}

.rows {
    display: flex;
    align-items: center;
    align-self: center;
}

.rows-tradicionais {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titulos {
    border-top: 0.05em solid #f5deb3;
    align-self: center;
    font-size: 4.2rem;
    font-family: 'Pacifico',serif;
    text-shadow: 0.1rem 0.1rem 0.1rem #f5deb3, 0.3rem 0.3rem 0.1rem black;
    color: #1c1f21;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-areas: 'imagem descricao icone-insta icone-face';
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5deb3;
    border-top: 0.1rem solid darkgoldenrod;
    height: 10rem;
    width: 100%;
}

.footer-image {
    width: 10rem;
    grid-area: imagem;
}

.footer-escrita {
    grid-area: descricao;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.fa-instagram {
    grid-area: icone-insta;
}

.fa-facebook {
    grid-area: icone-face;
}

.footer i {
    padding: 2.5rem;
    font-size: 4.0rem;
}

.localizacao-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 5em 0;
}

.nav-bar-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.em-producao {
    padding-top: 8rem;
    background-image: url("../images/madeira-bg.png");
    height: 50em;
    width: 100vw;
    background-size: cover;
}

.em-producao h1{
    font-family: 'Oswald', serif;
    color: yellow;
    text-shadow: 0.02em 0.01em black;
    text-align: center;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.erro-404{
    font-family: 'Pacifico', serif;
    text-align: center;
    font-size: 15rem;
    color: yellow;
    text-shadow: 0.02em 0.01em black;
    padding: 0;
}

.fa-frown {
    font-size: 10rem;
}

.fita-perigo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
    height: 6em;
    text-align: center;
}

.item-amarelo {
    background-color: yellow;
    color: black;
}

.item-preto {
    background-color: black;
    color: white;
}

.fita-perigo p{
    padding-top: 1.5rem;
    font-family: 'Oswald', serif;
    font-weight: 700;
    font-size: 2.0rem;
}

.grid-container-cardapio {
    display: grid;
    grid-template-areas: 
        '. premium .'
        'pizza-1 pizza-2 pizza-3'
        'descr-1 descr-2 descr-3'
        'pizza-4 pizza-5 pizza-6'
        'descr-4 descr-5 descr-6'
        '. tradicional .'
        'pizza-7 pizza-8 pizza-9'
        'descr-7 descr-8 descr-9'
        'pizza-10 pizza-11 pizza-12'
        'descr-10 descr-11 descr-12'
        'pizza-13 pizza-15 pizza-14'
        'descr-13 descr-15 descr-14'
        '. doce .'
        'pizza-16 pizza-17 pizza-18'
        'descr-16 descr-17 descr-18';
    justify-items: center;
}

.descricao-queijo {
    grid-area: descr-1;
}

.descricao-pepperoni {
    grid-area: descr-2;
}

.descricao-amoda {
    grid-area: descr-3;
}

.descricao-bacon {
    grid-area: descr-4;
}

.descricao-marguerita {
    grid-area: descr-5;
}

.descricao-salmao {
    grid-area: descr-6;
}

.descricao-calabresa {
    grid-area: descr-7;
}

.descricao-portuguesa {
    grid-area: descr-8;
}

.descricao-4queijos {
    grid-area: descr-9;
}

.descricao-brocolis {
    grid-area: descr-10;
}

.descricao-franpiry {
    grid-area: descr-11;
}

.descricao-francheddar {
    grid-area: descr-12;
}

.descricao-franbarbecue {
    grid-area: descr-13;
}

.descricao-carnesol {
    grid-area: descr-14;
}

.descricao-picanha {
    grid-area: descr-15;
}

.descricao-chocolateP {
    grid-area: descr-16;
}

.descricao-chocolateB {
    grid-area: descr-17;
}

.descricao-dois-amores {
    grid-area: descr-18;
}

.titulo-premium {
    grid-area: premium;
}

.titulo-tradicional {
    grid-area: tradicional;
}

.titulo-doce {
    grid-area: doce;
}

@media (max-width: 1300px) {
    .grid-container-cardapio {
        display: grid;
        grid-template-areas: 
            'premium premium'
            'pizza-1 pizza-2'
            'descr-1 descr-2'
            'pizza-3 pizza-4'
            'descr-3 descr-4'
            'pizza-5 pizza-6'
            'descr-5 descr-6'
            'tradicional tradicional'
            'pizza-7 pizza-8'
            'descr-7 descr-8'
            'pizza-9 pizza-10'
            'descr-9 descr-10'
            'pizza-11 pizza-12'
            'descr-11 descr-12'
            'pizza-13 pizza-14'
            'descr-13 descr-14'
            'pizza-15 .'
            'descr-15 .'
            'doce doce'
            'pizza-16 pizza-17'
            'descr-16 descr-17'
            'pizza-18 .'
            'descr-18 .';
    }

    #pizza-1 {
        display: none;
    }

    #about{
        justify-content: center;
        background-color: white;
    }

    #about #div-video iframe{
        width: 40rem;
        height: 21rem;
    }
}

@media (max-width: 690px){

    .footer-escrita {
        display: none;
    }

    .footer {
        grid-template-areas: 'icone-insta imagem icone-face';
    }

    .grid-container-cardapio {
        grid-template-areas: 
            'premium'
            'pizza-1' 
            'descr-1'
            'pizza-2' 
            'descr-2'
            'pizza-3' 
            'descr-3'
            'pizza-4' 
            'descr-4'
            'pizza-5' 
            'descr-5'
            'pizza-6' 
            'descr-6'
            'tradicional'
            'pizza-7' 
            'descr-7'
            'pizza-8' 
            'descr-8'
            'pizza-9' 
            'descr-9'
            'pizza-10'
            'descr-10'
            'pizza-11' 
            'descr-11'
            'pizza-12'
            'descr-12'
            'pizza-13' 
            'descr-13'
            'pizza-14'
            'descr-14'
            'pizza-15'
            'descr-15'
            'doce'
            'pizza-16' 
            'descr-16'
            'pizza-17'
            'descr-17'
            'pizza-18'
            'descr-18';
    }

    #mapa {
        width: 30rem;
        height: 30rem;
    }

}

@media (max-width: 590px){
    #about #div-video iframe{
        width: 30rem;
        height: 15rem;
    }

