*{
    padding: 0;
    margin: 0;
}

main {
    margin: 1em 0;
}

footer {
    border-top: 0.1em solid darkgoldenrod;
}

body {
    margin-top: 8em;
    background-color: white;
}

button {
    width: 10em;
    height: 4em;
    border-radius: 0.6em;
    border: 0;
    background-color: darkgoldenrod;
    font-family: 'Nunito', serif;
    font-weight: 600;
    color: white;
    font-size:0.932em;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

#gabryel {
    height: 15em;
    border-radius: 1em;
    padding-left: 1em;
}

#descricao-landing {
    text-align: right;
}

#img-linguagens {
    width: 20em;
    border-radius: 1em;
}

.skills-row {
    display: flex;
    flex-direction: column;
}

.teste-grid {
    display: grid;
    grid-area: "icones-linguagens porcentagem imagem";
}

.icones-linguagens {
    grid-area: icones-linguagens;
    grid-template-rows: repeat(4, 48px);
}

.text {
    text-align: right;
}

.container {
    width: 50em;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    outline: 0.1em solid darkgoldenrod;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.270);
}

.descricao-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1em;
}

.container h1 {
    font-family: 'Fredoka One', serif;
    font-size: 2em;
    font-weight: 500;
    padding-left: 1em;
}

.container h3 {
    font-family: 'Fredoka One', serif;
    font-weight: 500;
    color: darkgoldenrod;
}

.container p {
    font-family: 'Nunito', serif;
    color: gray;
}

.separador {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1em solid darkgoldenrod;
}

.icons {
    font-size: 3em;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: rgb(56, 195, 250);
}

.fa-square-js {
    color: rgb(240, 219, 79);
}

.fa-python {
    color: rgb(48, 105, 152);
}

main .grid-container {
    display: grid;
    grid-template-columns: 48px 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        'icone-html porcentagem-html imagem' 
        'icone-css porcentagem-css imagem'
        'icone-js porcentagem-js imagem'
        'icone-python porcentagem-python imagem';
    justify-content: center;
    gap: 1em;
    align-self: center ;
}

.imagem-grid img{
    width: 300px;
    border-radius: 10px;
}

.imagem-grid {
    grid-row: 1/5;
}

.icones-grid {
    display: grid;
    grid-row: 1/5;
}

.porcentagem-grid {
    display: grid;
    grid-row: 1/5;
}

.icones-grid i {
    display: block;
}

.container-progresso {
    height: 25px;
    background-color: #CCC;
    position: relative;
    border-radius: 0.3em;
    align-self: center;
}

.container-progresso .barra-progresso{
    position: absolute;
    height: 100%;
    background-color: darkgoldenrod;
    animation: progress-animation 3s infinite;
    border-radius: 0.3em;
}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 60%}
}

