*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    margin: 2.5rem 0;
}

footer {
    border-top: 0.1rem solid darkgoldenrod;
}

body {
    margin-top: 8rem;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
}

#gabryel {
    height: 20rem;
    border-radius: 1.0rem;
    align-items: center;
}

#descricao-landing {
    word-break: break-word;
    text-align: justify;
}

#img-linguagens {
    width: 30rem;
    border-radius: 1rem;
}

.skills-row {
    display: flex;
    flex-direction: column;
}

.icones-linguagens {
    grid-area: icones-linguagens;
    grid-template-rows: repeat(4, 4.8rem);
}

.text {
    text-align: right;
}

.container {
    width: 50vw;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2.0rem;
    outline: 0.1rem solid darkgoldenrod;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.270);
    margin-top: 5.0rem;
}

.descricao-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
}

.descricao-landing h3 {
    font-size: 1.7rem;
}

.descricao-landing p {
    font-size: 1.28rem;
}

.container h1 {
    font-family: 'Fredoka One', serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.container h3 {
    font-family: 'Fredoka One', serif;
    font-weight: 500;
    color: darkgoldenrod;
}

.container p {
    font-family: 'Nunito', serif;
    color: gray;
}

.separador {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid darkgoldenrod;
    justify-content: space-evenly;
}

.icons {
    font-size: 5.0rem;
    text-align: center;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: rgb(56, 195, 250);
}

.fa-square-js {
    color: rgb(216, 189, 14);
}

.fa-python {
    color: rgb(48, 105, 152);
}

main .grid-container {
    display: grid;
    grid-template-columns: 4.8rem 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 1.5rem;
    align-self: center ;
}

.imagem-grid img{
    width: 30rem;
    border-radius: 1.0rem;
}

.imagem-grid {
    grid-row: 1/5;
}

.icones-grid {
    display: grid;
    grid-row: 1/5;
}

.porcentagem-grid {
    display: grid;
    grid-row: 1/5;
}

.icones-grid i {
    display: block;
}

.container-progresso {
    width: 80%;
    height: 2.5rem;
    background-color: #CCC;
    position: relative;
    border-radius: 0.5rem;
    align-self: center;
}

.container-progresso .barra-progresso{
    position: absolute;
    height: 100%;
    background-color: darkgoldenrod;
    border-radius: 0.5rem;
}

.container-progresso .barra-progresso-html {
    width: 65%;
}

.container-progresso .barra-progresso-css {
    width: 50%;
}

.container-progresso .barra-progresso-js {
    width: 30%;
}

.container-progresso .barra-progresso-python {
    width: 70%;
}


.progresso {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progresso span{
    font-family: 'Nunito', serif;
    font-size: 1.4rem;
    color: grey;
    align-items: center;
    padding-left: 2.0rem;
}

@media (max-width:1200px) {
    .container {
        width: 50%;
        background-color: wheat;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 2.0rem;
        outline: 0.1rem solid darkgoldenrod;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.270);
        margin-top: 5.0rem;
    }

    .separador {
        align-items: flex-end;
        text-align: right;
    }
}

@media (max-width:1050px) {
    .porcentagem-grid {
        visibility: none;
        justify-self: center;
    }

    .separador {
        align-items: center;
    }

}

@media (max-width: 910px) {
    .descricao-landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }
}

