@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input:focus {
    outline: 0px;
}

table, tr, td, th {
    padding: 0 1em;
    margin-top: 2em;
    border: 1px solid #f39b6a;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Poppins', serif;
    margin-bottom: 2em;
}

tr:hover {
    cursor: pointer;
    background-color: #f5deb3;
}

ul {
    font-family: 'Fredoka One', serif;
}

li {
    text-shadow: 0.05em 0.05em 0.1em wheat, 0.1em 0.1em 0.2em black;
}

dd {
    font-family: 'Pacifico', cursive;
}

p, h1, h2, h3 {
    cursor: context-menu;
}

#nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.270);
    background-color: white;
}

#logo{
    width: 120px;
    height: 120px;
}

#pizza-1 {
    width: 530px;
    height: 500px;
}

#about {
    display: flex;
    align-items: center;
    background-color: #1c1f21;
}

#pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    font-family: 'Poppins', serif;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#pedido a{
    text-decoration: none;
    color: rgb(74, 144, 226);
}

#melhor-da-cidade{
    color: white;
    font-family: 'Fredoka One', serif;
    font-weight: 600;
    font-size: 45px;
}

#nome-pizzaria {
    display: none;
    font-family: 'Fredoka One', serif;
    text-align: center;
    font-size: 100px;
    color: #1c1f21;
    text-shadow: 2px 2px 1px wheat, 4px 4px 1px black;
}

#sabores {
    display: flex;
    flex-direction: column;
}

#buscar {
    font-family: 'Poppins', serif;
    width: 565px;
    height: 35px;
    background-color: #70a401;
    border-radius: 8px;
    border: 1px solid #70a401;
    color: white;
    font-weight: 700;
}

#buscar:hover {
    color: #1c1f21;
    cursor: pointer;
}

#firstScreen{
    margin-top: 100px;
}

#apresentacao {
    background-image: url(images/background-principal.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.270);
}

#logo-central {
    margin-top: 100px;
}

#tabela-frete {
    display: flex;
    flex-direction: column;
}

#sabores-tradicionais {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

#video {
    border-radius: 1.2em;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.270);
}

#mapa {
    border: 0;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.270);
}

#cardapio {
    margin-top: 1em;
}

#ajuste-cardapio, #ajuste-about, #ajuste-localizacao{
    height: 100px;
}

.firstScreen {
    font-family: 'Fredoka One', serif;
}

.lorem {
    font-family: 'Pacifico', serif;
    font-size: 1.3rem;
    text-shadow: 0.05em 0.05em 0.1em wheat, 0.1em 0.1em 0.2em black;
    margin-top: 3rem;
    font-weight: 500;
}

.links {
    font-family: 'Fredoka One', serif;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 400;
}

.links a {
    color: black;
    font-size: 20px;
    transition: 0.5s all;
}

.links a:link {
    text-decoration: none;
}

.links a:hover {
    font-size: 25px;
    color: #f39b6a;
    text-shadow: 1px 1px 3px #1c1f21;    
}

.icon {
    padding: 3px;
}

.img-pizzas {
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    transition: 0.5s all;
}

.img-pizzas:hover {
    cursor: zoom-in;
}

.add-carrinho {
    color: white;
    background-color: #1c1f21;
    border-radius: 5px;
    height: 60px;
    width: 180px;
    cursor: pointer;
}

.add-carrinho:hover {
    transition: 0.8s all;
    color: black;
    background-color: #f5deb3;
    border: 1px solid #f5deb3;
    border-radius: 5px;
    height: 60px;
    width: 180px;
    cursor: pointer;
}

.descricao-sabor {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    align-items: center;
    padding: 30px;
    text-align: center;  
}

.alinhamento-pizzas {
    display: flex;
    padding: 0 0 2em 0;
}

.order {
    display: none;
    color: white;
    background-color: rgb(187, 93, 0);
    border: 2px dashed white;
    height: 40px;
    width: 230px;
    margin-left: 60px;
    border-radius: 15px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rows {
    display: flex;
    align-items: center;
    align-self: center;
}

.rows-tradicionais {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titulos {
    border-top: 0.05em solid #f5deb3;
    display: flex;
    align-self: center;
    font-size: 3em;
    font-family: 'Pacifico',serif;
    text-shadow: 1px 1px 1px #f5deb3, 3px 3px 1px black;
    color: #1c1f21;
    margin-top: 2em;
}

.form {
    width: 550px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 10px;
    font-family: 'Poppins', serif;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    gap: 10em;
    justify-content: space-around;
    background-color: #f5deb3;
    height: 10em;
    width: 100%;
}

.footer-image {
    width: 10em;
}

.footer-div-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-div-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-icon {
    padding: 0.8em;
    font-size: 2em;
}

.footer-escrita {
    font-family: 'Poppins', serif;
    font-weight: 600;
}

.localizacao-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 5em 0;
}

.nav-bar-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-carrinho {
    padding-left: 33rem;
}
